In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\jamha\anaconda3.1\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\jamha\anaconda3.1\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jamha\anaconda3.1\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\jamha\anaconda3.1\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\jamha\anaconda3.1\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import os

In [2]:
import numpy as np

In [10]:
df = pd.read_csv(r'C:\Users\jamha\OneDrive\Desktop\CISPROG\CISPROG-6\olympics.csv', index_col=0, skiprows=1)
#pd.set_option('display.max_columns', None)

#renaming the columns so that its easier to read 
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+ col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+ col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+ col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+ col[1:]}, inplace=True)
        
# To retrieve the abbreviated form of each country (ID)
ids=df.index.str.split('\s\(') #split the index by "("
df.index=ids.str[0] #[0] element is the name of the country (new index)
df['ID']=ids.str[1].str[:3] #takes first 3 letters



df = df.drop('Totals') # calculating total columns
#pd.set_option('display.max_rows', 500) 
#pd
df.head() #shows the table

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ